*{
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  font-family: 'Jost', sans-serif;
  padding: 100px 20px 70px 20px;
}



.page-title{
  text-align: center;
  font-size: 2vw;
  padding-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width:750px) {
  .app{
    padding-top: 65px;
  }
  .page-title{
    font-size: 3.5vw;
  }
}